In [28]:
import pandas as pd

athletes = pd.read_csv('data/athlete_events.csv')
# Count how many unique occurences of countries and sports are there
print(f"# of countires: {len(athletes['NOC'].unique())}")
print(f"# of sports: {len(athletes['Sport'].unique())}")
print(f"# of events: {len(athletes['Event'].unique())}")
print(f"# of athletes: {len(athletes['Name'].unique())}")
athletes.head()

# of countires: 230
# of sports: 66
# of events: 765
# of athletes: 134732

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [29]:
def find_extreme_values(athletes_df:pd.DataFrame, column:str, aggregation:str):
    no_nans = athletes_df.dropna(subset=column)
    return no_nans.groupby('Sport').agg({column:aggregation})

min_height = find_extreme_values(athletes, 'Height', 'min')
max_height = find_extreme_values(athletes, 'Height', 'max')
min_weight = find_extreme_values(athletes, 'Weight', 'min')
max_weight = find_extreme_values(athletes, 'Weight', 'max')
min_age = find_extreme_values(athletes, 'Age', 'min')
max_age = find_extreme_values(athletes, 'Age', 'max')

In [27]:
athletes[athletes['Sport'] == 'Aeronautics']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
214105,107506,Hermann Schreiber,M,26.0,NaN,NaN,Switzerland,SUI,1936 Summer,1936,Summer,Berlin,Aeronautics,Aeronautics Mixed Aeronautics,Gold